.headerNavBar {
    margin-top: 0.6em;
}

.headerHeader {
    background-color: rgba(217, 217, 217, 0.4);
    color: #FFFFFF;
    padding-top: 1em;
}

.headerTitle {
    margin: 0;
    margin-left: 0.4em;
}
