.header-navigationContainer {
    background-color: rgba(210, 220, 230, 0.2);
    padding: 0.6em;
    color: #FFFFFF;
}

.header-navigationNavItem {
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em;
    color: #000000;
}

.header-navigationNavItem:hover {
    background-color: rgba(210, 220, 230, 1);
    border-color: #000000;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: #FFFFFF;
}

.header-navigationNavItemSelected {
    background-color: rgba(210, 220, 230, 1);
    border-color: #000000;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: #FFFFFF;
}
